<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ezfit">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PersonalDetails">
            <intent-filter>
                <action android:name=".PersonalDetails" />
            </intent-filter>
        </activity>

        <activity android:name=".UpdateDetails">
            <intent-filter>
                <action android:name=".UpdateDetails" />
            </intent-filter>
        </activity>

        <activity android:name=".TrackWorkout">
            <intent-filter>
                <action android:name=".TrackWorkout" />
            </intent-filter>
        </activity>

        <activity android:name=".TrackRun">
            <intent-filter>
                <action android:name=".TrackRun" />
            </intent-filter>
        </activity>

        <activity android:name=".ViewMetrics">
            <intent-filter>
                <action android:name=".ViewMetrics" />
            </intent-filter>
        </activity>

        <activity android:name=".WorkoutHistory">
            <intent-filter>
                <action android:name=".ViewMetrics" />
            </intent-filter>
        </activity>

        <activity android:name=".RunHistory">
            <intent-filter>
                <action android:name=".ViewMetrics" />
            </intent-filter>
        </activity>

        <activity android:name=".ProgressPictures">
            <intent-filter>
                <action android:name=".ProgressPictures" />
            </intent-filter>
        </activity>

        <activity android:name=".SaveWorkout">
            <intent-filter>
                <action android:name=".SaveWorkout" />
            </intent-filter>
        </activity>

        <activity android:name=".WorkoutDetails">
            <intent-filter>
                <action android:name=".WorkoutDetails" />
            </intent-filter>
        </activity>

        <activity android:name=".RunDetails">
            <intent-filter>
                <action android:name=".RunDetails" />
            </intent-filter>
        </activity>

    </application>

</manifest>